
#footer .parent1{
    display: flex;
    justify-content: space-around;
}
#container{
    border: 1px solid red;
    width: 80%;
    margin: auto;
}
#container table{
    background-color: #555555;
}

#container table thead {
    background-color: #555555;
    color: white;
}
#container table thead th{
    text-align: left;
}
#itemshow{
    border: blue;
    width: 50%;
    
}